body{                                          /*  colore del background  */
     
     background-color: #fae7d7;   
}
    .background{                         /*  configurazione dell'immagine di sfondo  */
    background-image: url("pomodori.jpg");        
    width: 1440px;
    height: 1250px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
    
 

.text-center {                                       /*  settaggio dei testi  */
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    align-content: center;
    text-align: center;
    align-self: anchor-center;
    backdrop-filter: blur(10px);
    color: white;
    font-family: TradeGothic LT CondEighteen;
}


.title-center {                                              /*  settaggio del titolo  */
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    align-content: center;
    text-align: center;
    align-self: anchor-center;
    color: rgb(44, 192, 51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
    .block-opt{                                                            /*  settagio del menù a tendina  */
       
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    align-content: center;
    text-align: center;
    align-self: flex-end;
    backdrop-filter: blur(10px);
    color: white;

    }

  
    
    .button{                                                                 /*  settaggio del tasto  */

        background-color: rgb(201, 32, 54);
        font-size: 55px;
        font-family: merriweather;
        padding: 14px 40px;
        border-radius: 12px;
        border: solid;

    }

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {           /*nascondi la select originale */
  display: none; 
}

.select-selected {
  background-color: rgb(255, 30, 60);
}


.select-selected:after {        /* settaggio della freccia */
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}


.select-selected.select-arrow-active:after {        /*orienta la freccia in alto a menù aperto */
  border-color: transparent transparent #fff transparent;
  top: 7px;
}


.select-items div,.select-selected {                  /* stile delle opzioni*/
  color: #ffffff; 
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}


.select-items {                               /* stile delle opzioni */
  position: absolute;
  background-color: rgb(255, 30, 60);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


.select-hide {          /* nascondi l'item quando chiuso */
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}